
      <h1 style="text-align: center">  <img src="https://cdn0.iconfinder.com/data/icons/sports-and-games-7/512/309-512.png" style="width:40px; height:50px">
        CPlayer</h1>
<form class="login-form" #loginForm="ngForm" [style.fontSize.px]="20">
  <div class="login-block">
    <div class="row">
      <h3 style="text-align: center">Log In</h3>
      <mat-form-field class="login-input-full-width">
        <input matInput placeholder="User Id" [(ngModel)]="user.userId" name="userId" id="userId" required minlength="5" maxlength="10"
          #userId="ngModel" class="inputId">
        <mat-error *ngIf="userId.invalid">User Id: must be minimum 5 and 10 characters long</mat-error>
      </mat-form-field>
      <mat-form-field class="login-input-full-width">
        <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" id="password" required
          #password="ngModel" class="inputPass">
        <mat-error *ngIf="password.invalid">Password is mandatory</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <button class="login-user" type="submit" mat-raised-button (click)="loginUser()" color="primary" >Login</button>
     &nbsp; &nbsp;
      <button type="reset" mat-raised-button color="primary" style="float:right">Clear</button>

      <br><br>
      <a class="register-button" mat-button [routerLink]="['/register']" color="primary" >Don't Have an account? Register</a>
    </div>
  </div>
</form>
